@import "tailwindcss";

/* vietnamese */
@font-face {
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 200 800;
  font-stretch: 100%;
  font-display: swap;
  src: url("./assets/bricolage-rotesque.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 200 800;
  font-stretch: 100%;
  font-display: swap;
  src: url("./assets/bricolage-rotesque.woff2") format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 200 800;
  font-stretch: 100%;
  font-display: swap;
  src: url("./assets/bricolage-rotesque.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
  font-family: "Bricolage Thin";
  font-style: normal;
  font-weight: 200 800;
  font-stretch: 100%;
  font-display: swap;
  src: url("./assets/bricolage2.woff2") format("woff2");
  t-family: "Bricolage Thin";
  font-style: normal;
  font-weight: 200 800;
  font-stretch: 100%;
  font-display: swap;
  src: url("./assets/bricolage2.woff2") format("woff2");
}
/* latin */
@font-face {
  font-family: "Bricolage Thin";
  font-style: normal;
  font-weight: 200 800;
  font-stretch: 100%;
  font-display: swap;
  src: url("./assets/bricolage2.woff2") format("woff2");
}

@font-face {
  font-family: elementskit;
  src: url("./assets/elementskit.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-dim: #575757; /* Tomato */
  --color-seal: #00cea6;
  --color-lightdim: #d9d9d9;
  --color-accent: #af8600;
  --color-custom-green-light: #90ee90;
  --color-custom-green-dark: #228b22;
  --font-base: "Bricolage Grotesque";
  --font-accent: "Bricolage Thin";
  --shadow-grey: 0px 4px 12px 0px
    rgba(13.000000000000023, 10.000000000000002, 44, 0.058823529411764705);
    --breakpoint-mdl: 62rem;

}

*,
*::before,
*::after {
  outline: solid 0px black;
}

body {
  background-color: #fff;
  color: hsl(0, 0%, 0%);
  font-family: var(--font-base), -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon::before {
  font-family: elementskit !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon.icon-burger-menu::before {
  content: "\eab8";
  font-size: min(9vw, 2rem);
  color: var(--color-accent);
}

.search-icon::before {
  content: "\eb28";
 
  color: var(--color-dim);
}
.search-btn:hover .search-icon::before {
  color: var(--color-accent);
}

#cta {
  background: url("./assets/bg-design.png") no-repeat;
  background-position: center 31.5%;
  background-size: 140%;
}

main h2 {
  margin-block-end: 1rem;
  margin-block-start: 0.5rem;
}

.drop-icon::after {
  content: url("./assets/chevron-down.svg");
}

.current {
  color: var(--color-accent);
}

.bg-design {
  background-image: url("./assets/bg-pattern.png");
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: 55% top;
}

.carousel {
  flex-basis: auto;
  flex-shrink: 1;
  flex-wrap: nowrap;
}

.carousel > :not(.img-wrapper) {
  scale: 1;
  flex-shrink: 0.575;
}

.img-wrapper {
  flex-shrink: 0.5;
  min-width: 250px;
}

.review {
  position: absolute;
  top: calc(100% - 66px);
  left: 50%;
  width: 200px;
  margin-left: -100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#about {
  background-color: #f5f6f7;
  background-image: url(https://kit.createbigsupply.com/legistra/wp-content/uploads/sites/64/2025/07/BG-About.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#services {
  background-image: url("./assets/Vector-3.png");
  /* background-color: #fac5c5; */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

button.active {
  background: var(--color-accent);
  color: var(--color-white);
}

.inner {
  width: min(100%, 1191px);
  margin-inline: auto;
}

@media (width <= 64rem) {
  .inner {
    padding-inline: clamp(1rem, 4vw, 3rem);
  }
}

#catalouge article {
  text-align: left;
  background-color: var(--color-accent);
  background-image: url("assets/BG-Card-1.png");
  padding: 60px 30px 60px 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 20px 20px;
}

.bg-card-3 {
  background-color: rgb(245, 246, 247);
  background-image: url("./assets/Bg-Card-3.png");
  padding: 35px 35px 35px 35px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px 20px 20px 20px;
}

#finance .text-box,
#corporate .text-box {
  flex: 1;
}

#finance figure,
#corporate figure {
  flex: 0.5875;
}

#footer :is(li):hover {
  color: var(--color-accent);
}